<ion-header >
  <ion-toolbar color="danger">
    <ion-title>
        <ion-icon name="home"></ion-icon>
      ข้อมูล
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
  <br>
  <div padding-horizontal>
    <ion-button (click)="Add()" shape="round" size="small" type="submit"><ion-icon name="add-circle"></ion-icon>เพิ่ม</ion-button>
  </div>
  <ion-card *ngFor="let item of dataList"color="primary">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="7">
            ชื่อ: {{item.stud_name}}<br>
            <div ngSwitch="{{item.stud_status}}">
              <div *ngSwitchCase="'0'">สถานะ : ไม่เรียนแล้ว</div>
              <div *ngSwitchCase="'1'">สถานะ : เรียนอยู่</div>
              </div>
              อายุ: {{item.stud_age}}<br>
              สถานศึกษา: {{item.stud_school}}<br>
              
          </ion-col>
          <ion-col >
            <ion-button shape="round" (click)="edit(item.stud_id)" size="small" type="submit"><ion-icon name="create"></ion-icon>แก้ไข</ion-button>
            <ion-button shape="round" (click)="Delete(item.stud_id)" size="small" type="submit"><ion-icon name="logo-bitbucket"></ion-icon>ลบ</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>

